<html>
   <head>
       <style>
           html {
            font-family: helvetica;
            background-color:white;
            color:black;} 
           
           .bigtext{
               font-size: 20px; 
               color:orange; 
           }
           
           a{
            color:black;   
           }
           a:hover{
               text-decoration:none;
               background-color:gray; }
       </style>
  
    </head>
 
    
    <body>
    
        <table border=1 cellpadding=5>
         <tr>
             <td class=bigtext>
             Hello World! 
             </td>
             <td>
             :) 
             </td>
             
         
         </tr>
           <tr>
             <td class=bigtext>
             Hello World! 
             </td>
               <td><a href="https://kylew34.github.io">
               :) :) 
                   </a>
               </td>
                 <tr>
             
                     
             <td>
             Hello World! 
             </td>
               <td>
               :) :)  
               </td>
             
         
         </tr>
             
         
         </tr>
     </table>
       
    </body>
</html>
